@import '../../variables.scss';

.headerContainer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: $primary-color;
    justify-content: center;
    gap: 152px;
    padding: 0 112px;

    img{
        width: 90px;
        height: 60px;
    }

    .navLinks{
        width: 1075px;
        display: flex;
        justify-content: space-between;
        font-family: 'Roboto Slab';
        font-weight: 400;
    }

    a{
        color: $light-color;
        font-size: 20px;
    }

    svg{
        display: none;
        width: 40px;
        height: 40px;
        color: $light-color;
    }
}

.logoutButton {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
    font-family: inherit;

    &:hover {
        text-decoration: underline;
    }
}

@media (max-width: 1263px){
    .headerContainer {
        gap: 0;
    }
    .headerContainer img{
        align-self: center;
    }
    .headerContainer .navLinks{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: $primary-color;
        padding: 10px 0;
    }
    .headerContainer .navLinks.open{
        display: flex;
    }
    .headerContainer svg{
        display: flex;
        position: absolute;
        right: 20px;
    }
}